<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isseikz.backlogeditor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationMain"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BacklogEditor">
        <receiver
            android:name=".RefreshItemsReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/error_it_should_be_replaced" />
        <activity
            android:name=".ui.AddItemDialogActivity"
            android:exported="false" />
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <service
            android:name=".widget.BacklogListRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widget.BacklogAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/backlog_widget_info" />
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>